<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5" maxRequestLength="2097151" executionTimeout="3600"/>
  </system.web>
  <connectionStrings>
    <add name="dbConnectString" connectionString="Data Source=.;Initial Catalog=ordering; User ID=ordering;Password=00.123"/>
  </connectionStrings>
</configuration>