#include("HeadStartPage.html")
<style type="text/css">
    #text {
        width:100px;
        margin-left:auto;
        margin-right:auto;
        font-family:'Microsoft YaHei UI';
        font-size:14px;
        color:#524d4d;
        margin-top:20px;
    }
    #main {
        height:401px;
        width:100%;
    }
</style>
#include("HeadEndPage.html")
#parse("BodyStartPage.html")
#include("NavOrderingPage.html")
<div id="main">
    <p id="text">目前暂无订单！</p>
</div>  
#include("FooterPage.html")